/* .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-right: 5%;
    /* Add padding to the container for space 
} */

.row{
    padding-top: 5%;
}

.card {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.image-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top : 5%;
    max-width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-header {
    background-color: #085de6;
    /* Google Maps blue */
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-link {
    color: #ffffff;
    /* Google Maps blue */
}

.btn-link.active {
    text-decoration: underline;
}

/* Add orange background for the selected option */
.btn-link.active.bus,
.btn-link.active.metro {
    background-color: #FFA500;
    /* Orange color */
    color: white;
    border-radius: 5px;
}